{# app/Resources/views/form1.html.twig #}

<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Страница администратора</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
    <h1>Админ тут!</h1>
    
    

</body>

</html>