{# app/Resources/views/form1.html.twig #}

<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Каталог книг</title>
    <link rel="stylesheet" type="text/css" href="catalog/styles/styles.css">
</head>
<body>
    <div class="header"> 
        <ul class="container">
            <li>                       
                <div class="avatar">
                    <img src="img/NoAvatar.jpg" width="150" height="150"></a>
                </div>                  
            </li>
            <li>
                <label for="UserFullName"><ФИО пользователя></label> 
            </li>
            <li>
                <input type="submit" class="log_in" value="Войти">
            </li>
            <li>
                <input type="submit" class="log_out" value="Выйти">
            </li>
        </ui>
    </div>
    
</body>

</html>