
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Шаблон</title>
    <link rel="stylesheet" type="text/css" href="lw5/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/userInfo.css">
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/footer.css">
</head>

    <div class="top">
        {% include "userInfo.html.twig" %}
    </div>
    <div class="pageContent">
        
        <div class="sideBarLeft">
        </div>
        <div class="content">
        </div>
        <div class="sideBarRight">
        </div>  
    </div>
    	
    
    {% include "footer.html.twig" %}
   
   
    




</html>