<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Шаблон</title>
    <link rel="stylesheet" type="text/css" href="lw5/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/userInfo.css">
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/userList.css">
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/bookTable.css">
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/userCatalogeus.css">
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/footer.css">
    
    <link rel="stylesheet" href="lib/jquery.raty.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="lib/jquery.raty.js"></script>
    
    <script type="text/javascript">
        if (window.jQuery) alert("jQuery подключен");
        else alert("jQuery не подключен");
    </script>
</head>
<div class="top">
    <ul class="container">
        <li>                       
            <div class="avatar">
                <img src="img/NoAvatar.jpg" width="150" height="150"></a>
            </div>                  
        </li>
        <li>
            <label for="UserFullName"><ФИО пользователя></label> 
        </li>
        <li>
            <input type="submit" class="log_in" value="Войти">
        </li>
        <li>
            <input type="submit" class="log_out" value="Выйти">
        </li>
    </ui>
</div>