<div class="userMessages">
    <table class="treetable">
        <tbody>
            <tr>
            {% for book in bookList %}
                <th>
                    <img src="{{ book.cover }}" alt={{ book.name }}
                         width="100" height="150">
                    <a>{{ book.name }}</a>
                </th>
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>